{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 p-5"
             style="border-radius: 20px; box-shadow: 2px 2px 5px rgba(0,0,0,0.7);">
            <div class="content-section">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"><strong>Reset Password</strong></legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group" good i dedea>
                        <button class="btn btn-success" type="submit">Click to Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}